* {
    box-sizing: border-box;
    text-align: center;
    background: #666
  }
  
  body {
  }

  header {
    padding: 35px;
    margin-bottom: 20px;
    margin-left:140px ;
    margin-right:140px ;
    color: #333;
    background: #ccc;
    height: 105px;
  } 

  nav {
    padding:35px;
    margin-bottom: 20px;
    margin-left:140px;
    margin-right:140px;
    color: #333;
    background: #ccc;
    height: 105px;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left:140px;
    color: #333;
    background: #ccc;
    height:270px ;
    width:700px ;
    float:left;
  }
  
  aside {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    height: 270px;
    width: 415px;
    float:left
  }
  
  article {
    padding: 10px;
    margin-bottom: 20px;
    color: #333;
    background: #666;
    height: 200px;
  }
  
  h1, h2, h3 {
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
    color: #333;
    background: #ccc;

  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  
  p {
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
    color: #333;
    background: #ccc;
  }

  footer {
    padding: 20px;
    margin-bottom: 20px;
    margin-right:140px ;
    margin-left:140px ;
    color: #333;
    background: #ccc;
    clear: both;
  }
